.module{
	width: 1024px;
	height: 668px;
	overflow: hidden;
}
#bg{
	background-image: url(../images/game_bg_2_hd.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.mask{
	position: absolute;
	z-index: 5;
	width: 1024px;
	height: 668px;
	overflow: hidden;
	/*cursor: none;*/
}
.fish{
	overflow: hidden;
	position: absolute;
}
.fish1{
	width: 55px;
	height: 37px;
	overflow: hidden;
}
.fish2{
	width: 78px;
	height: 64px;
}
.fish3{
	width: 72px;
	height: 56px;
}
.fish4{
	width: 77px;
	height: 59px;
}
.fish5{
	width: 107px;
	height: 122px;
}
.fish6{
	width: 105px;
	height: 79px;
}
.fish7{
	width: 92px;
	height: 151px;
}

.swiming{
	position: absolute;
	-webkit-animation: swim 1s steps(1,start) infinite;
}

.lv1{
	-webkit-animation: run 40s linear 1;
}
.lv2{
	-webkit-animation: run 36s linear 1;
}
.lv3{
	-webkit-animation: run 32s linear 1;
}
.lv4{
	-webkit-animation: run 28s linear 1;
}

.pause{
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
}
.timer{
    width: 210px;
    height: 18px;
    position: absolute;
    bottom: 9px;
    left: 545px;
    
}
.gradient{

    background: -moz-linear-gradient(top, #FFFDDD 0%, #FFFF00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFDDD), color-stop(100%,#FFFF00));
    background: -webkit-linear-gradient(top, #FFFDDD 0%,#FFFF00 100%);
    background: -o-linear-gradient(top, #FFFDDD 0%,#FFFF00 100%);
    background: -ms-linear-gradient(top, #FFFDDD 0%,#FFFF00 100%);
    background: linear-gradient(to bottom, #FFFDDD 0%,#FFFF00 100%);
}

.timer .gradient.active{
	border-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 18px;
	-webkit-animation: timer .8s linear 1;
}
.rotate{
	transform: rotateZ(180deg);
}
@keyframes timer{
	0%{
		width:0px;
	}
	100%{
		width: 100%;
	}
}

@keyframes swim{
	0%{
		top:0;
	}
	33%{
		top:-100%;
	}
	66%{
		top:-200%;
	}
	100%{
		top: -300%;
	}
}
@keyframes run{
	0%{
		left:-160px;
	}
	100%{
		left: 100%;
	}
}

.cannon-box{
	position: absolute;
	bottom: -2px;
	left: 50%;
	z-index: 10;
	width: 765px;
	height:72px;
	margin-left: -380px;
	background-image: url(../1/bottom-bar.png);
}
.cannon{
	width: 170px;
	height: 90px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -35px;
}
.turret-box{
	position: absolute;
	bottom: 2px;
	width: 74px;
}
.turret{
	width: 74px;
	height: 74px;
	position: absolute;
	bottom: auto;
	cursor: pointer;
	background-image: url(../1/cannon1.png);
	transform-origin: bottom center;
	margin-top: 14px;
}
.bullet-box{
	width: 74px;
	height: 74px;
	margin-top: 14px;
	text-align: center;
	bottom: auto;
	position: absolute;
	transform-origin: bottom center;
}
.bullet{
/*	width: 40px;
    height: 44px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -20px;
    background-image: url(../1/bullet.png);
    background-repeat: no-repeat;
    background-position-x: 0px;*/
    /*width: 40px;
    height: 44px;*/
    left: 25%;
    left: auto;
    bottom: 35px;
    position: absolute;
    position: relative;
    background-image: url(../1/bullet.png?);
    background-repeat: no-repeat;
    background-position-x: 0px;
    
}
.button{
	width: 44px;
	height: 31px;
	margin-top: 50px;
	cursor: pointer;
	position: relative;

}
.minus{
	background-image: url(../1/cannon_minus.png);
}
.plus{
	margin-left: 75px;
	background-image: url(../1/cannon_plus.png);
}
.price-box{
	padding: 44px 0px 0px 20px;
}
.price-box .left{
	width: 20px;
    height: 24px;
    margin-right: 3px;
    background-image: url(../1/price_min.png);
}
